DATABRICKS_CONFIG_PROFILE=dev-52d59088
DATABRICKS_WAREHOUSE_ID=0a214d63e620a999
CATALOG=ai_agent_demo
SCHEMA=customer_support
LLM_LOW=databricks-gpt-oss-20b
LLM_MEDIUM=databricks-gpt-oss-20b
LLM_HIGH=databricks-llama-4-maverick
ETL_ALLOWED_HOSTS=jsonplaceholder.typicode.com
